@import 'styles/_functions';

.head {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: mobile-vw(20px);

  @include desktop {
    padding: desktop-vw(40px);
  }
}
