.trigger {
  box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
  display: flex;
  align-items: center;
}

.option {
  min-width: var(--anchor-width);
  cursor: default;
  grid-template-columns: 0.75rem 1fr;
  outline: none;

  &[data-side="none"] {
    min-width: calc(var(--anchor-width) + 1rem);
    padding-right: 1rem;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    background-color: var(--gray-900);
  }

  &[data-highlighted]::before {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    z-index: -1;
    background-color: var(--color-primary);
    border-radius: 0.25rem;
  }
}
