# EditorConfig helps maintain consistent coding styles across different editors
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{json,jsonc}]
indent_size = 2

[*.{css,scss}]
indent_size = 2

[*.{ts,tsx,js,jsx,mjs}]
indent_size = 2

[*.svg]
insert_final_newline = false

[{package.json,package-lock.json,bun.lockb}]
indent_size = 2

[.env*]
insert_final_newline = true

