/* GLOBAL CSS FILE - Contains global styles that shouldn't be reset */

html {
  --scrollbar-gutter: 0px;

  &.lenis-stopped {
    --scrollbar-gutter: var(--scrollbar-width);
  }
}

* {
  scrollbar-width: thin;
}

body {
  min-height: 100vh;
  overscroll-behavior: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Selection styling */
*::selection {
  background-color: var(--color-contrast);
  color: var(--color-primary);
}

/* SVG icon colors */
svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }
  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

/* Hover states */
.link {
  @media (--hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Focus states */
*:focus-visible {
  outline: 2px solid var(--color-contrast);
}

html.scrollbar-grabbing,
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
