.scrollbar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;

  .inner {
    height: 100%;
    position: relative;
  }

  .thumb {
    height: 80px;
    width: 8px;
    background-color: var(--color-blue);
    position: absolute;
    right: 0;
    border-radius: 4px;
    cursor: grab;
  }

  @media (--mobile) {
    display: none;
  }
}
