.wrapper {
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
