.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - mobile-vw(74px));
  row-gap: mobile-vw(24px);

  @include-media ('desktop') {
    height: calc(100vh - desktop-vw(52px));
    row-gap: desktop-vw(24px);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: mobile-vw(16px);
    text-align: center;

    @include-media ('desktop') {
      width: columns(6);
      gap: desktop-vw(16px);
    }
  }

  .media {
    position: relative;
    grid-column: 1 / -1;
    aspect-ratio: 320 / 357;
    height: 40vh;

    @include-media ('desktop') {
      grid-column: 3 / -3;
      height: 40vh;
    }
  }
}
