.scrollbar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;

  .inner {
    height: 100%;
    position: relative;
  }

  .thumb {
    min-height: desktop-vw(80px);
    width: desktop-vw(8px);
    background-color: var(--theme-contrast);
    position: absolute;
    right: 0;
    border-radius: 0;
    cursor: grab;
  }

  @media (--mobile) {
    display: none;
  }
}
