.footer {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: currentColor;
  }

  padding-top: mobile-vw(20px);
  padding-bottom: mobile-vw(20px);

  @include desktop {
    padding-top: desktop-vw(40px);
    padding-bottom: desktop-vw(40px);
  }
}
