@import 'styles/_functions';

.footer {
  color: var(--white);
  background-color: var(--black);
  padding: mobile-vw(20px) 0;

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: desktop-vw(40px) 0;
  }
}
