.page {
  text-transform: uppercase;
  font-family: var(--font-mono);

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .box {
    width: 250px;
    height: 250px;
  }
}
