@import 'styles/_functions';

.dropdown {
  position: relative;
  text-transform: capitalize;

  &.opened {
    svg {
      transform: rotate(180deg);
    }
  }

  .button {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    svg {
      height: mobile-vw(25px);
      width: mobile-vw(25px);
      @include desktop {
        height: desktop-vw(5px);
        width: desktop-vw(10px);
      }

      transition: 600ms transform var(--ease-out-expo);
    }
  }
  .options {
    background-color: black;
    border: 2px solid currentColor;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    @include desktop {
      max-height: desktop-vw(290px);
    }

    max-height: mobile-vw(180px);
    overflow-y: overlay;
    border-bottom: 1px solid currentColor;

    > * {
      border-bottom: 2px solid currentColor;
      padding: mobile-vw(16px) mobile-vw(28px);
      @include desktop {
        padding: desktop-vw(15px) desktop-vw(25px);
      }

      transition: 600ms color var(--ease-out-expo);

      &:not(:first-child) {
        border-top: 1px solid var(--theme-text);
      }

      @media screen and(hover: hover) {
        &:hover {
          color: #ff65be;
        }
      }
    }
  }
}
