@import 'styles/_functions';

.pageHome {
  // height: 300vh;

  .title {
    font-size: 60px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: a b;
    pointer-events: all;

    > &:nth-child(odd) {
      grid-area: a;
    }

    > &:nth-child(even) {
      grid-area: b;
    }

    .image {
      width: 536px;
      height: 536px;
      position: relative;
      border: 2px solid #ff65be;
      box-sizing: border-box;
      border-radius: 40px;

      img {
        object-fit: contain;
      }
    }

    .slide-img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      min-width: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;

      > div {
        height: 100%;
      }
    }
  }
}
