.home {
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: justify;
    font-size: desktop-vw(16px);
    max-width: desktop-vw(500px);
    margin: auto;
  }
}
