.page {
  text-transform: uppercase;
  font-family: var(--font-mono);
  overflow: clip;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  @include mobile {
    padding: 0 mobile-vw(16px);
  }
}
