.add {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    clip-path: circle(0%);
  }

  button {
    position: relative;
    width: 100%;
    padding: mobile-vw(16px);

    @media (--desktop) {
      padding: desktop-vw(16px);
    }
  }

  @media (--hover) {
    &:hover {
      color: var(--color-white);

      &::before {
        transition: 1000ms clip-path var(--ease-gleasing);
        clip-path: circle(100%);
      }
    }
  }
}

.size {
  > button {
    border: 2px solid var(--color-black);
    border-radius: mobile-vw(8px);

    @media (--desktop) {
      border-radius: desktop-vw(8px);
    }
  }

  > div {
    padding: 0;
  }
}
