:root {
  --grid-columns: 4;
  --grid-gap: #{mobile-vw(15px)};
  --max-width: 89.3334vw;
  @include desktop {
    --max-width: 88.889vw;
    --grid-columns: 12;
    --grid-gap: #{desktop-vw(40px)};
  }

  --column-width: calc(
    (var(--max-width) - ((var(--grid-columns) - 1) * var(--grid-gap))) /
      var(--grid-columns)
  );
  --border: calc((100vw - var(--max-width)) / 2);
}

.block {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.block-inner {
  padding-left: var(--border);
  padding-right: var(--border);
}

.grid {
  @extend .block;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  grid-gap: var(--grid-gap);
}

.grid-inner {
  @extend .block-inner;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  grid-gap: var(--grid-gap);
}

.section {
  margin-bottom: mobile-vw(80px);

  @include desktop {
    margin-bottom: desktop-vw(200px);
  }
}

.section-max {
  margin-bottom: mobile-vw(120px);

  @include desktop {
    margin-bottom: desktop-vw(250px);
  }
}

.section-inner {
  padding-bottom: mobile-vw(80px);

  @include desktop {
    padding-bottom: desktop-vw(200px);
  }
}

.section-inner-max {
  padding-bottom: mobile-vw(120px);

  @include desktop {
    padding-bottom: desktop-vw(250px);
  }
}
