.theme-light {
  --theme-primary: var(--white);
  --theme-secondary: var(--black);

  // for safari https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
  --theme-primary-transparent: rgba(255, 255, 255, 0);
  --theme-secondary-transparent: rgba(0, 0, 0, 0);
}

.theme-dark {
  --theme-primary: var(--black);
  --theme-secondary: var(--white);

  // for safari https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
  --theme-primary-transparent: rgba(0, 0, 0, 0);
  --theme-secondary-transparent: rgba(255, 255, 255, 0);
}
