.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.mobile-only {
  @include desktop {
    display: none !important;
  }
}

.desktop-only {
  @include mobile {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}
