@import './_reset.scss';
@import './_easings.scss';
@import './_functions.scss';
@import './_layout.scss';
@import './_utils.scss';
@import './_font-style.scss';
@import './_scroll.scss';

:root {
  --header-height: #{mobile-vw(58px)};

  @include desktop {
    --header-height: #{desktop-vw(98px)};
  }
}

html,
body {
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--theme-contrast);
  color: var(--theme-primary);
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

.link {
  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  &:focus-visible {
    outline: 2px solid var(--theme-contrast);
  }
}
