.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: var(--layout-margin);
  left: var(--layout-margin);

  .title {
    display: inline-flex;
  }

  .list {
    padding-left: 24px;

    .link {
      position: relative;
    }

    .active {
      &::before {
        content: '■';
        position: absolute;
        left: -16px;
      }
    }
  }
}
